In [1]:
import numpy as np
import pandas as pd

In [90]:
datos=pd.read_csv("athlete_events.csv")
datos

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

Ejercicio BÃ¡sico Punto 1

In [91]:
medallistas=datos[datos["Medal"].notna()]
maximo=medallistas["Age"].max()
medallistas[medallistas["Age"]==maximo]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
44584,22984,John (Herbert Crawford-) Copley (Williamson-),M,73.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Graphic Arts",Silver

Ejercicio BÃ¡sico Punto 2

In [92]:
medallas_oro=medallistas[medallistas["Medal"]=="Gold"]
minimo=medallas_oro["Age"].min()
medallas_oro[medallas_oro["Age"]==minimo]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
27207,14142,Hans Bourquin,M,13.0,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxed Pairs,Gold
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
73581,37398,Fu Mingxia,F,13.0,160.0,48.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Diving,Diving Women's Platform,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
119277,60384,Kim Yun-Mi,F,13.0,160.0,48.0,South Korea,KOR,1994 Winter,1994,Winter,Lillehammer,Short Track Speed Skating,"Short Track Speed Skating Women's 3,000 metres...",Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold
268602,134381,Klaus Zerta,M,13.0,165.0,48.0,Germany,GER,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Pairs,Gold

Ejercicio BÃ¡sico Punto 3

In [94]:
maximo_medallista=medallistas["ID"].value_counts().index[0]
salida=datos[datos["ID"]==maximo_medallista]
salida.to_csv('Maximo_Medallista.csv', index=False)